<div class="user">
  <div class="tech">
    <h2>Personalization</h2>
    <img src="assets/img/manGear.png" alt="Personalization Icon" class="icon-uniform" style="transform: scale(1.45);">
    <p>Tailored study resources that adapt to each student's unique needs.</p>
  </div>
  <div class="tech">
    <h2>Automation</h2>
    <img src="assets/img/roboticArm.png" alt="Automation Icon" class="icon-uniform">
    <p>AI-powered systems generating practice exams and study materials on demand.</p>
  </div>
  <div class="tech">
    <h2>Insight</h2>
    <img src="assets/img/magnifyingGlass.png" alt="Insight Icon" class="icon-uniform" style="margin-top: 10px;">
    <p>Data-driven feedback to guide students toward their learning goals.</p>
  </div>
</div>
