<div class="user-details">
  <h1> Elevate Your Learning Journey </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Personalization</h2>
    <img src="assets/images/manGear.png" alt="Personalization Icon">
    <p>Tailored study resources that adapt to each student's unique needs.</p>
  </div>
  <div class="tech">
    <h2>Automation</h2>
    <img src="assets/images/roboticArm.png" alt="Automation Icon">
    <p>AI-powered systems generating practice exams and study materials on demand.</p>
  </div>
  <div class="tech">
    <h2>Insight</h2>
    <img src="assets/images/magnifyingGlass.png" alt="Insight Icon">
    <p>Data-driven feedback to guide students toward their learning goals.</p>
  </div>
</div>
