<div class="intro">
  <h2>What is Kora and how can it help me?</h2>
  <p>Kora is an AI-driven educational platform designed specifically for New Zealand STEM students. It provides personalized resources, automated practice exams, and insightful data tracking to help students excel in their academic journey. By leveraging AI to adapt to each student's learning style, Kora ensures that learning is more effective, efficient, and enjoyable. Whether you're preparing for exams or looking to deepen your understanding, Kora is here to support your educational goals.</p>
</div>

<div class="user">
  <div class="tech">
    <h2>Personalization</h2>
    <img src="assets/img/manGear.png" alt="Personalization Icon" class="icon-uniform" style="transform: scale(1.5);">
    <p>Customized resources that cater to the specific needs of New Zealand STEM students, adapting to their unique learning paths.</p>
  </div>
  <div class="tech">
    <h2>Automation</h2>
    <img src="assets/img/roboticArm.jpg" alt="Automation Icon" class="icon-uniform">
    <p>AI-driven tools creating practice exams and study materials tailored to the New Zealand STEM curriculum.</p>
  </div>
  <div class="tech">
    <h2>Insight</h2>
    <img src="assets/img/magnifyingGlass.png" alt="Insight Icon" class="icon-uniform">
    <p>Insights to help New Zealand STEM students track progress and achieve academic goals.</p>
  </div>
</div>
